html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* navbar */
.navbar-default {
    background-color: #37718E;
}

.navbar-brand {
    font-family: 'Hahmlet', serif;
    color: #F5F9E9;
}

