@{
    ViewData["Title"] = "Library";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dodeca Games</title>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Hahmlet|Raleway" rel="stylesheet">

    <!-- Bootstrap CSS, Js, Popper CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- External Stylesheet -->
  <link rel="stylesheet" type="text/css" href="~/css/stylesheet.css" runat="server" />

  </head>
   
  <body>

    <!-- Nav Bar -->
    <div class="banner">

      <nav class="navbar navbar-expand-lg navbar-dark">

        <a class="navbar-brand" href="index.html">DODECA games</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="">Library</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Library/Publishers/publishers.html">Publishers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Library/Articles/articles.html">Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="information.html">Info</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- Call to Action: Search-->
    <div Class="container-fluid sectionSecondaryColor">
      <h1><em>

          Adventure Starts Here
        </em>
      </h1>
      <h4>
        Borrow or buy from currated board games.
      </h4>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Board Game Library" aria-label="Search">
        <button class="btn btn-warning" type="submit">Search</button>
      </form>
    </div>


    <!-- Genre Quick Pick -->
    <div Class="container-fluid">
      <h1>
        Dynamic Page will feature the ability to filter by genres. Including on hover reveal of subGenres.<br />
        Will also feature filter by key words and categories.
      </h1>
      <button type="button" class="btn btn-outline-info">♟️ Abstract</button>
      <button type="button" class="btn btn-outline-info">🏆 Cooperative</button>
      <button type="button" class="btn btn-outline-info">🏬 Management</button>
      <button type="button" class="btn btn-outline-info">⚔️ Conquest</button>
      <button type="button" class="btn btn-outline-info">🧠 STEM</button>
      <button type="button" class="btn btn-outline-info">🔎 Deduction</button>
      <button type="button" class="btn btn-outline-info">🧩 Art Puzzle</button>
      <button type="button" class="btn btn-outline-info">🎯 Dexterity</button>
      <button type="button" class="btn btn-outline-info">🎲 Luck</button>
      <button type="button" class="btn btn-outline-info">🚗 Race</button>
      <button type="button" class="btn btn-outline-info">✏️ Play & Write</button>
      <button type="button" class="btn btn-outline-info">❓ Trivia</button>
      <button type="button" class="btn btn-outline-info">🤣 Humor</button>
      <button type="button" class="btn btn-outline-info">💬 Communication</button>

    </div>


    <!-- Footer -->
    <div class="container-fluid sectionHighlightB footer">
      <p>
        Dodega Games ©️ 2022 Dodeca Game Den LLC. All rights reserved.
      </p>
      <p>
        Trademarks, logos, and artworks are trademarks of their respective owners and are not affiliated with Dodeca Game Den, LLC.
      </p>
    </div>


  </body>
</html>
